.container {
    margin-top: 7%;
}

.card {
    background-color: #00171F;
}
.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;
}

.card-body {
    padding: 0 25px;
}

.card-footer {
    padding: 10px 15px;
    border-top: none;
}

.form-control {
    background-color: #00171F;
}

.alert {
    text-align: center;
    vertical-align: middle;
    background-color: #003459;
}

.alert p {
    margin-bottom: 0%;
}

.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}